<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roster</title>
    <script type="text/javascript">
      $(document).ready(function(){
        $("table").each(function() {
               var $this = $(this);
               var newrows = [];
               $this.find("tr").each(function(){
                   var i = 0;
                   $(this).find("td").each(function(){
                       i++;
                       if(newrows[i] === undefined) { newrows[i] = $("<tr></tr>"); }
                       newrows[i].append($(this));
                   });
               });
               $this.find("tr").remove();
               $.each(newrows, function(){
                   $this.append(this);
               });
           });

           return false;
      })
    </script>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Your Lineups</h1>
    <table class="table table-bordered" id="lineup-table">
      <tr>
        <td>Player's Name</td>
        <% @players.each do |player| %>
        <td><%= player.name %></td>
        <% end %>
      </tr>
      <!-- <tr>
        <td>Inning 1</td>
        <% @players.each do |player| %>
          <td><%= @position[player.pref_pos - 1] %></td>
        <% end %>
      </tr> -->
      <!-- working on preventing avoid_pos to be allowed -->
      <% 6.times do |x| %>
      <tr>
        <td>Inning <%= x + 1 %></td>
          <% @position.shuffle.take(@players.length).each do |p| %>
            <td><%=p%></td>
          <% end %>
      </tr>
      <% end %>
    </table>
      <form action="/">
        <input class="btn btn-default" type="submit" value="Back">
      </form>
    </div>
  </body>
</html>
