/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
  padding: 10px;
  background-image: url('pic2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
 }

 table{
   background-color: #FFFFFF;
 }

 li{
   margin: 2px 5px;
 }

 h1{
   color: white;
   text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
 }

 #login{
   border: 1px solid black;
   background-color: #FFF
 }

 form{
   margin: 10px 0px;
 }

 #roster-button input{
   float: right;
 }

 .rules{
   background-color: #FFF
 }

 #lineup-table tr td:first-child, tr:first-child{
   font-weight: bold;
 }
